<div style="max-width: 50%; margin-left: 16px">
  <label for="urlInput" class="form-label">Long URL</label>
  <form class="input-group mb-3" novalidate>
    <input
      type="text"
      class="form-control"
      placeholder="https://example.com"
      aria-label="URL Input"
      [formControl]="inputURL_Form"
      [ngClass]="{
        'is-invalid': inputURL_Form.invalid && inputURL_Form.touched
      }"
      id="urlInput"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="submitURL()"
      [disabled]="inputURL_Form.invalid"
    >
      Shorten
    </button>
  </form>
</div>
<div *ngIf="shortenedURL" style="max-width: 50%; margin-left: 16px">
  <label for="urlOutput" class="form-label">Your Result: </label>
  <form class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="https://example.com"
      aria-label="URL Input"
      readonly
      disabled
      value="{{ shortenedURL }}"
      id="urlOutput"
    />

    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="copyToClipboard()"
    >
      Copy
    </button>
  </form>
</div>
